{{#partial "titulo"}}
Home
{{/partial}}

{{#partial "contenido"}}

<div class="jumbotron">
  <h1>GeSoc</h1>
  <h5 class="text-muted">Gestión de Proyectos Sociales</h5>
</div>

{{/partial}}

{{>logged-layout.hbs}}